@import "../../assets/sass/mixins.scss";

.browse-form {
  background: #eee;

  &--wrapper {
    padding: 4rem 6rem;
  }

  &__tabs {
    display: flex;
    justify-content: space-between;

    &-item {
      @include Quando;
      font-size: 1.4rem;
      color: #3a3532;
      letter-spacing: 0.13rem;
      text-transform: uppercase;
      font-weight: 700;
      width: 100%;
      text-align: center;
      background: #fff;

      & input {
        display: none;

        &:checked~label {
          background: #37b480;
          color: #fff;
        }
      }

      & label {
        display: block;
        width: 100%;
        padding: 3rem;
        cursor: pointer;
        border: 0.5rem solid transparent;
        transition: 0.2s all ease-in;

        &:hover {
          border: 0.5rem solid #37b480;
        }
      }
    }
  }

  &__search {
    &-input {
      width: 80%;
      display: flex;
      align-items: center;
      padding: 2rem;
    }

    max-width: 120rem;
    margin: 0 auto;
    display: flex;

    justify-content: space-between;

    & input {
      width: 100%;
      border: none;
      font-size: 4rem;
      margin-left: 1rem;
      margin-right: auto;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #ebeaea;
      }
    }

    & ul.select {
      width: 20%;
    }

    background: #fff;
  }
}

.search-button {
  background: transparent;
  background-image: url(../../assets/icons.png);
  background-position: -151px -4677px;
  background-repeat: no-repeat;
  display: block;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  border: none;

  &:hover {
    opacity: 0.7;
  }
}

.genre-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #3a3532;
  font-size: 1.8rem;
  text-align: center;

  &__item {
    padding: 2rem;
    width: calc(16%);
    margin: 0.2rem;
    background-color: #fff;
    align-self: stretch;
    cursor: pointer;

    &:hover {
      background: #8a4fab;
      color: #fff;
    }
  }
}