.play-link__usual {
    background-image: url(../../assets/icons.png);
    height: 7rem;
    width: 7rem;
    margin: 0 auto;
    background-position: -13rem -858rem;
    background-repeat: no-repeat;

    &:hover {
        background-position: -13rem -769.1rem;
    }
}

.play-link__hover {
    background-image: url(../../assets/icons.png);
    height: 7rem;
    width: 7rem;
    margin: 0 auto;
    opacity: 0;
    background-position: -13rem -769.1rem;
    background-repeat: no-repeat;
    transition: 0.15s all linear;

    &:hover {
        opacity: 1;
    }
}