@import "../../assets//sass/mixins.scss";

.contact-page {
    color: black;

    &__background {
        background-image: url(../../assets/contact-bc.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 60rem;
        position: relative;
    }

    &__card {
        background: white;
        padding: 3rem 10rem;
        text-align: center;

        @include response(phone) {
            padding: 2rem 3rem;
        }

        & h2 {
            font-size: 4rem;
            font-weight: 400;
        }

        & address {
            font-size: 2rem;
            font-style: normal;
            color: #8a4fab;
            line-height: 2.5rem;

            &:first-of-type {
                margin-bottom: 1rem;
            }
        }

        &--wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            border: 2px solid white;
            padding: 1rem;
        }
    }

    &__list {
        text-align: center;
        max-width: 120rem;
        margin: 5vh auto;
        padding: 0 2rem;

        & h2 {
            font-size: 4rem;
            margin-bottom: 5vh;
            font-weight: 400;
        }

        & ul {
            margin-top: 5vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &-item {
            margin: 3rem 0;
            width: 22%;

            @include response(tab-port) {
                width: 48%;
            }

            @include response(phone) {
                width: 100%;
            }

            &>* {
                padding: 1rem 0;
            }

            & i {
                background-image: url(../../assets/icons.png);
                background-repeat: no-repeat;
                display: block;
                height: 7rem;
                width: 7rem;
                margin: 0 auto;
            }

            & h3 {
                font-size: 2.5rem;
                font-weight: 400;
            }

            & p {
                font-size: 1.6rem;
                color: #5e5e5e;
            }

            & a {
                display: block;
                font-size: 1.7rem;
                color: #8a4fab;
            }
        }
    }

    &__connect {
        margin: 10vh 0;
        color: #5e5e5e;
        font-size: 2rem;

        & a {
            color: #8a4fab;
        }
    }
}



.icon {
    &-flashlight {
        background-position: -130px -6367px;

        &:hover {
            background-position: -130px -6439px;
        }
    }

    &-compass {
        background-position: -130px -1276px;

        &:hover {
            background-position: -130px -1348px;
        }
    }

    &-magic {
        background-position: -130px -6837px;

        &:hover {
            background-position: -130px -6909px;
        }
    }

    &-community {
        background-position: -130px -429px;

        &:hover {
            background-position: -130px -501px;
        }
    }
}