.StartPage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./StartPage.jpg);
  background-size: cover;
}

.StartPage-header {
  color: white;
}

div .StartPage > div .card {
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 5px;
  border: 0px;
  color: white;
}
