@import "../../assets/sass/mixins.scss";

.artist-page {
    color: black;
}

.quick-intro {
    padding: 3rem 0;
    background: #efefed;
    text-align: center;

    @include response(phone) {
        padding: 1.5rem 0;
    }

    &__genre {
        font-size: 1.6rem;
        color: #8a4fab;
    }

    &__icon {
        left: 0;
        position: relative;
        top: 0;
        background: #fff;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        height: 80px;
        width: 80px;

        & span {
            background-image: url(../../assets/icons.png);
            background-position: -145px -387px;
            background-repeat: no-repeat;
            display: block;
            height: 40px;
            width: 40px;
            left: 50%;
            margin-left: -20px;
            margin-top: -20px;
            position: absolute;
            top: 50%;
        }
    }
}

.heading-primary {
    font-size: 4.6rem;
    font-weight: 400;
    letter-spacing: 0.1rem;

    @include response(phone) {
        font-size: 3.5rem;
    }
}

.full-intro {
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    justify-content: center;

    @include response(phone) {
        margin-top: 0;
        flex-direction: column;
        padding: 0 2rem;
    }

    &__img {
        margin: 1rem;
        width: 40%;

        @include response(phone) {
            width: 100%;
            margin: 0;
        }

        & img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__bio {
        margin: 1rem;
        padding: 3rem;
        width: 40%;
        background-color: rgb(49, 49, 49);
        color: #AAA;

        @include response(phone) {
            width: 100%;
            margin: 0;
        }

        & h3 {
            font-size: 3.6rem;
            color: whitesmoke;
        }

        & p {
            font-style: italic;
            font-size: 2rem;
        }
    }
}