@import "../../assets/sass/mixins.scss";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5000;
}

.navbar {
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
  @include Quando;

  .logo {
    font-size: 5rem;

    &::after {
      content: none;
    }
  }

  &__list {
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;

    @include response(phone) {
      flex-direction: column;
    }

    &-item {
      margin: 0 2rem;
      font-size: 2rem;
      position: relative;

      &:nth-child(2) {
        margin-left: auto;

        @include response(phone) {
          margin-left: 2rem;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        opacity: 0;
        height: 2px;
        transition: 0.4s all ease-out;
        background-color: whitesmoke;

        @include response(phone) {
          content: none;
        }
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }
}