.footer {
    padding: 2rem 2rem;
    background: #cdcdd0;

    &__list {
        padding: 2rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &-item {
            border-bottom: 1px solid transparent;
            font-size: 2rem;
            margin: 1rem 2rem;
            color: #3a3532;

            &:hover {
                border-bottom: 1px solid #000;
            }
        }
    }

    &__copyright {
        margin: 1rem 0;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        color: #828288;
        font-size: 1.5rem;
        text-align: center;

        &:hover {
            color: #3a3532;
        }
    }
}

.corp-logo {
    width: 100%;
    height: 8rem;
}