@import "./assets/sass/mixins.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  @include Judson;
  line-height: 1.6;
  min-width: 32rem;
  color: whitesmoke;
  background-color: #f8f8f8;
  max-width: 192rem;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.pt-md {
  padding-top: 5rem;
}

.mt-md {
  margin-top: 5rem;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}