body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: rgb(236, 229, 229);
  /* font-family: "Volkhov", serif; */
}

a.nav-link,
a.nav-link:visited,
a.nav-link:active {
  color: black;
}

.row {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-bottom: 3px solid red;
}

.col-md-3 {
  padding-right: 0;
  padding-left: 0;
}

.App {
  min-width: 500px;
}

.shadow-component {
  box-shadow: 0px 0px 50px 30px lightslategray;
}

.shadow-track {
  box-shadow: 0px 30px 30px 10px lightslategray;
}

.shadow-small-track {
  box-shadow: 0px 0px 20px 10px lightslategray;
}

.border-track {
  transition: transform 0.5s ease-out;
}

.border-track:hover {
  transform: scale(1.1);
  box-sizing: border-box;
  z-index: 9999;
}

.container {
  max-width: 1500px;
}

.container .min {
  max-width: 700px;
  box-shadow: 0px 0px 50px 30px lightslategray;
}

.navbar-brand {
  color: lightcyan;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.display-5 {
  font-size: 2em;
}

.display-6 {
  font-size: 1.3em;
}
