body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  /* font-family: "Volkhov", serif; */
}

.App {
  min-width: 500px;
}

.line {
  box-shadow: 0px 0px 50px 30px lightslategray;
}

.container {
  max-width: 1500px;
}

.container .min {
  max-width: 700px;
  /* background-color: lightgray; */
  box-shadow: 0px 0px 50px 30px lightslategray;
}

.navbar-brand {
  color: lightcyan;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.display-5 {
  font-size: 2em;
}
