@import "../../assets/sass/mixins.scss";

.groupAlbum-page {
    padding-top: 10rem;

    @include response(phone) {
        padding-top: 7rem;
    }

    & h3 {
        background: #efefed;
        color: #3a3532;
        padding: 5rem 3rem;

        @include response(phone) {
            padding: 3rem;
        }
    }
}