@import "../../assets/sass/mixins.scss";

.homepage {
  background-color: #e3e3e3;

  &__section1 {
    background-image: url(../../assets/homepage-hero.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

    &-content {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      margin: 0 auto;
      text-align: center;

      h1 {
        font-size: 5.5rem;
      }

      p {
        font-size: 2.5rem;
        font-style: italic;
        margin-bottom: 5rem;
      }
    }
  }

  &__section2 {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;

    &-content {
      width: 100%;
      height: 100%;
      position: relative;
    }

    @include response(tab-land) {
      background-size: cover;
    }
  }

  &__section3 {
    height: 100vh;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;

    .text--big-space {
      color: black;
    }
  }

  &__section4 {
    background-image: url(../../assets/latest.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

    &-content {
      max-width: 120rem;
      margin: 0 auto;
    }

    .cta-button--wrapper {
      margin-top: 13rem;
    }
  }
}

.artist-name {
  font-size: 5rem;
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: black;
  text-align: center;
}

.playlist {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  &__item {
    height: 30vh;
    margin-bottom: 1.5rem;
    width: 24%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s all;
    position: relative;

    &:hover .play-button__hover {
      opacity: 1;
    }

    &:hover .gradient-overlay {
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8))
    }
  }
}

.latest-list {
  margin-top: 10rem;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 4.8rem;
    padding: 0 2rem;
    margin: 0 3rem;
    position: relative;
    border-bottom: 1px solid rgba(89, 16, 149, 0.5);
    transition: 0.2s all ease-out;

    &:hover {
      background: rgba(89, 16, 149, 0.1);
    }
  }
}



.latest-title {}

.latest-artist {
  font-size: 3rem;

  & span {
    color: #8a4fab;
  }
}