@import "./mixins.scss";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    @include Judson;
    line-height: 1.6;
    color: whitesmoke;
    background-color: #f8f8f8;
    max-width: 192rem;
    min-width: 32rem;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}